# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# NuGet
*.nupkg
packages/
*.snupkg

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de publicación
publish/
